/*----------------------------------
* Buttons
----------------------------------*/
.m-btn-link {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--px-theme);
    border-bottom: 2px solid currentColor;
}

.m-btn-link:hover {
    color: var(--px-dark);
}

.m-btn {
    display: inline-block;
    border: 2px solid transparent;
    color: inherit;
    line-height: inherit;
    border-radius: 0;
    width: auto;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.55s ease-in-out;
    text-align: center;
}

.m-btn.m-btn-xsm {
    font-size: 10px;
    padding: 2px 17px;
}

.m-btn.m-btn-sm {
    font-size: 11px;
    padding: 4px 24px;
}

.m-btn.m-btn-lg {
    font-size: 13px;
    padding: 12px 34px;
    line-height: 25px;
}

.m-btn.m-btn-xl {
    font-size: 15px;
    padding: 15px 40px;
    line-height: 25px;
}

.m-btn.m-btn-theme {
    background: var(--px-theme);
    color: var(--px-white);
    border-color: var(--px-theme);
}

.m-btn.m-btn-theme:hover {
    background: var(--px-dark);
    border-color: var(--px-dark);
}

.m-btn.m-btn-t-theme {
    background: transparent;
    color: var(--px-theme);
    border-color: var(--px-theme);
}

.m-btn.m-btn-t-theme:hover {
    background: var(--px-theme);
    border-color: var(--px-theme);
    color: var(--px-white);
}

.m-btn.m-btn-dark {
    background: var(--px-dark);
    color: var(--px-white);
    border-color: var(--px-dark);
}

.m-btn.m-btn-dark:hover {
    background: var(--px-theme);
    border-color: var(--px-theme);
}

.m-btn.m-btn-t-dark {
    background: transparent;
    color: var(--px-dark);
    border-color: var(--px-dark);
}

.m-btn.m-btn-t-dark:hover {
    background: var(--px-dark);
    border-color: var(--px-dark);
    color: var(--px-white);
}

.m-btn.m-btn-white {
    background: var(--px-white);
    color: var(--px-theme);
    border-color: var(--px-white);
}

.m-btn.m-btn-white:hover {
    background: transparent;
    border-color: var(--px-white);
    color: var(--px-white);
}

.m-btn.m-btn-t-white {
    background: transparent;
    color: var(--px-white);
    border-color: var(--px-white);
}

.m-btn.m-btn-t-white:hover {
    background: var(--px-white);
    border-color: var(--px-white);
    color: var(--px-dark);
}

/* Icon
----------------*/
.video-btn {
    position: relative;
    width: 80px;
    height: 80px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    transition: all 0.55s ease;
    z-index: 1;
    border: none;
}

.video-btn::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
    pointer-events: none;
    z-index: -1;
}

.video-btn.white {
    background: var(--px-white);
}

.video-btn.white::after {
    background: var(--px-white);
}

.video-btn.white span {
    color: var(--px-theme);
}

.video-btn.theme {
    background: var(--px-theme);
}

.video-btn.theme::after {
    background: var(--px-theme);
}

.video-btn.theme span {
    color: var(--px-white);
}

.video-btn span {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid currentColor;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 9px;
    right: 0;
    margin: auto;
    width: 0px;
    height: 0px;
}

/* Keyframes */
@keyframes pulse-border {
    0% {
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
