@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

:root {
    /* Color system */
    --px-theme: #d9832e; /* Main theme */
    /* --px-theme: #f47bbc; */ /* Alternative Pink theme */
    
    --px-body-color: #555a64; /* Body text color */
    
    --px-black: #000000;
    --px-white: #ffffff;
    --px-dark: #090a0c;
    --px-medium-dark: #1d1d1d;
    --px-gray: #eaedf2;
    --px-light-gray: #eee;

    /* Font sizes */
    --px-base-font: 15px;
    --px-h1-font: 50px;
    --px-h2-font: 44px;
    --px-h3-font: 32px;
    --px-h4-font: 26px;
    --px-h5-font: 20px;
    --px-h6-font: 18px;

    /* Fonts */
    --px-font-family: 'Poppins', sans-serif;
    --px-font-alt: 'Poppins', sans-serif;

    /* Custom Colors */
    --px-yellow: #f5a416;
    --px-green: #11e279;
    --px-blue: #49bedf;
    --px-pink: #f12699;

    /* Breakpoints */
    --px-media-xsm: 567px;
    --px-media-sm: 767px;
    --px-media-md: 991px;
    --px-media-lg: 1200px;
}